[Unit]
Description=Airflow server for user %u

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=%h/airflow-systemd
ExecStart=%h/airflow-systemd/bin/start
ExecStop=%h/airflow-systemd/bin/stop
TimeoutStartSec=0

[Install]
WantedBy=default.target
